<div class="col-md-12 row pt-3 centered">
  <div class="col-md-12">
    <h1>Editar auto</h1>
  </div>
</div>

<%= render 'form', pin: @pin %>

<div class="container centered pt-3">
<%= link_to 'Mostrar', @pin %> |
<%= link_to 'Volver', pins_path %>
</div>
