<div class="col-md-12 row pt-3 centered">
  <div class="col-md-12">
    <h1>Crear Auto</h1>
  </div>
</div>

<%= render 'form', pin: @pin %>

<div class="container centered pt-3">
<%= link_to 'Back', pins_path %>
</div>
